@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');

/* Paimti spalvas su photofiltre.  */
table {
    border: 3px solid white;
    border-collapse: collapse;
    font-family: 'Anybody';
    margin: 30px auto;
}

th,
td {
    border: 2px solid white;
    padding: 15px;
    width: 150px;
    text-align: left;
    font-size: 1.2em;
}

/* #AF5593 - eiluciu tamsus; rgb(243, 126, 207) - eiluciu sviesus;
rgb(134, 0, 111) - header tamsus. */

table th {
    background:rgb(134, 0, 111);
    color:white;
}

tr:nth-child(even) {
    background:rgb(243, 126, 207);
    color:white;
}

tr:nth-child(odd) {
    background: #AF5593;
    color: white;
}

